{% render 'partials/head.liquid' %}

<main>

    <section class="d-experiment-card">

        <article class="d-experiment-detail">
            <h1 class="d-main-title">{{ experiment.name }}</h1>

            <div class="d-experiment-meta">
                <span class="d-status-badge {{ experiment.status | downcase }}">
                    {{ experiment.status }}
                </span>
                <time class="d-experiment-date" datetime="{{ experiment.createdAt | date: " %Y-%m-%d" }}">
                    {{ experiment.createdAt | date: "%b %d, %Y" }}
                </time>
            </div>

            <p class="d-experiment-description">{{ experiment.description }}</p>

            {% if experiment.data %}
            <h2>Data:</h2>
            <p>Rows:{{ experiment.data.totalRows }}</p>

            {% if experiment.data.columns %}
            <h3>Columns</h3>

            <ul>
                {% for col in experiment.data.columns %}
                <section class="columns-grid">
                    <span>{{ col.name }}</span>
                    <span>{{ col.type_text }}</span>
                </section>

                {% endfor %}
            </ul>
            {% endif %}

            {% endif %}


        </article>

    </section>

</main>

{% render 'partials/foot.liquid' %}